.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: #02548A;
}
.logo-header {
    margin-left: 15px;
}
.titre-header {
    color: white;
    font-family: 'TorukSC', sans-serif;
    text-decoration: none;
    margin-top: 35px;
}
.menu-header {
    margin-right: 15px;
}