img {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.titre-1 {
    font-size: 75px;
    font-family: 'TorukSC', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.section-1 {
    background-color: #02548A;
    width: 100%;
}
.ligne-1 {
    align-items: center;
    width: 296px;
}
.citation {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fleche {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.titre-3 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.btn-plus {
    padding: 5px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #02548A;
    width: 80px;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-style: Arial;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.img-cover {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ligne-accueil {
    margin-left: 10px;
    margin-right: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.citation-2 {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
} 
.titre-2 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.titre-2-bis {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #02548A;
}
.section-1-1 {
    margin-top: 20px;
}
.ligne-1-article {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}