img {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.titre-1 {
    font-size: 75px;
    font-family: 'TorukSC', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.section-1 {
    background-color: #02548A;
    width: 100%;
}
.ligne-1 {
    align-items: center;
    width: 296px;
}
.citation {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fleche {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.titre-3 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.btn-plus {
    padding: 5px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #02548A;
    width: 80px;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-style: Arial;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.img-cover {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ligne-accueil {
    margin-left: 10px;
    margin-right: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.titre-4 {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
} 
.titre-2 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.titre-2-bis {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #02548A;
}
.section-1-1 {
    margin-top: 20px;
}
.ligne-1-article {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-articles {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95%;
}
.titre-4-bis {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}
.video {
    display: flex;
}
.ligne-1-2 {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.section-1-2 {
    margin-bottom: 20px;
}
.p1 {
    margin-bottom: 10px;
    margin-top: 40px;
}
.img-avatar {
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.formulaire {
    width: 90%;
    padding: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.btn-formulaire {
    background-color: #02548A;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.nom-formulaire {
    font-family: 'Inter', normal;
    font-size: 14px;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center; /* pour aligner verticalement différents de justify-content qui aligne horizontalement */
}
.section-formulaire {
    margin: 25px;
    margin-bottom: 25px;
}
.msg-formulaire {
    margin-left: 25px;
}
* {
    box-sizing: border-box; /* change le box model */
}
h1{
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #084368;
    color: #fff;
}
img {
    max-width: 100%; /* image responsive, largeur maxi */
    height: auto; /* hauteur "auto" */
}

body {
    background-image: url("../img/autocollant-one-piece-jolly-roger.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.carrousel_parent-ecrans {
    display: flex; /* aligne horizontalement les enfants */
    width: 100%;/* largeur du parent */  
    max-width: 400px;
    height: auto;
    overflow-x: scroll; /* permet de scroller horizontalement */
    scroll-behavior: smooth; /* animation de défilement */
    scroll-snap-type: x mandatory; /* permet de scroller par blocs */
    margin-bottom: 20px;
}
.carrousel_ecran {
    width: 100%;  /* largeur du parent pour chaque enfant */
    flex: none; /* permet de garder toute la largeur du parent */
    scroll-snap-align: start; /* aligne les enfants par blocs */
    border-radius: 0.5rem;
}
.carrousel_ecran figure {
    margin: 0; /* enlève les marges par défaut */
    height : auto;
}
.carrousel {
    position: relative;
    margin-bottom: 20px;
  }
  
  .carrousel_btn {
    position: absolute;
    top: 25%;
    top: calc(
      min(500px, 100vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
    top: 42.5%;
    transform: translate(-50%, -50%);
  }
  
  .carrousel_btn-avant {
    left: 10px;
    z-index: 1;
  }
  
  .carrousel_btn-apres {
    right: -10px;
    z-index: 1;
  }
  .caroussel_liste-liens {
    display: flex; /* aligns children horizontally */
    justify-content: center; /* centers children horizontally */
    margin: 0; /* removes default margins */
    padding: 0; /* removes default padding */
    list-style: none; /* removes default bullets */
    gap: 1rem; /* adds space between children */
    flex-wrap: wrap;
    max-width: 400px;
}
.caroussel_lien.actif {
    background-color: #4ca4da;
}
.caroussel_lien {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #084368;
    color: #fff;
    text-decoration: none;
}
.caroussel_lien:hover {
    background-color: #4ca4da;
}
figcaption {
    text-align: center;
    font-style: Bold;
    font-size: 2rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #084368;
    color: #fff;
    text-decoration: none;
}
.img-carroussel {
  height: 575px;
  width: auto;
}
.frise {
    display: flex;
    margin-bottom: 20px;
}
.img-frise {
    width: 125px;
    height: auto;
    position: absolute;
    margin-left: 75px;
    margin-top: 10px;
}
.img-frise-1 {
    width: 125px;
    height: auto;
    position: absolute;
    margin-left: 75px;
    margin-top: 255px;
}
.img-frise-2 {
    width: 125px;
    height: auto;
    position: absolute;
    margin-left: 75px;
    margin-top: 520px;
}
.img-frise-3 {
    width: 125px;
    height: auto;
    position: absolute;
    margin-top: 750px;
    margin-left: 75px;
}
.texte-frise {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 210px;
    margin-left: 70px;
}
.texte-frise-1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 460px;
    margin-left: 70px;
}
.texte-frise-2 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 680px;
    margin-left: 70px;
}
.texte-frise-3 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 950px;
    margin-left: 70px;
}
