img {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.titre-1 {
    font-size: 75px;
    font-family: 'TorukSC', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.section-1 {
    background-color: #02548A;
    width: 100%;
}
.ligne-1 {
    align-items: center;
    width: 296px;
}
.citation {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fleche {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.titre-3 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
.btn-plus {
    padding: 5px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #02548A;
    width: 80px;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-style: Arial;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.img-cover {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ligne-accueil {
    margin-left: 10px;
    margin-right: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.titre-4 {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
} 
.titre-2 {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.titre-2-bis {
    font-family: 'TorukSC', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #02548A;
}
.section-1-1 {
    margin-top: 20px;
}
.ligne-1-article {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-articles {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95%;
}
.titre-4-bis {
    font-family: 'TorukSC', sans-serif;
    font-size: 22px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}
.video {
    display: flex;
}
.ligne-1-2 {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.section-1-2 {
    margin-bottom: 20px;
}
.p1 {
    margin-bottom: 10px;
    margin-top: 40px;
}
.img-avatar {
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.formulaire {
    width: 90%;
    padding: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.btn-formulaire {
    background-color: #02548A;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.nom-formulaire {
    font-family: 'Inter', normal;
    font-size: 14px;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center; /* pour aligner verticalement différents de justify-content qui aligne horizontalement */
}
.section-formulaire {
    margin: 25px;
    margin-bottom: 25px;
}
.msg-formulaire {
    margin-left: 25px;
}